*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 4px;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80 px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto ;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;

    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }


    #mobile-menu.is_active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is_active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    background: #f77062;
    color: #fff
}

button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

/* Hero */
body {
    background-color: #141411;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.main {
    background-color: #141411;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.main.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    /* height: 90vh; */
    height: auto;
    background-color: #141411;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

h1 {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 2rem;
    color:#fff;
}

.main__content p {
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #ffff;
}

a {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #4837ff;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display:grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    
    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;

    }

    .main_content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;

    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__button {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

}

/*course Section CSS*/
.course {
    display: flex;
    flex-direction:  column;
    align-items: center;
}

/* .course h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size:2.5rem;

    background-clip: text;
    -moz-background-clip: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

.course__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.course__card {
    margin: 1rem;
    height: 300px;
    width: 400px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("../images/clovers.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
}

/* .course__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/images/baby_kumo.jpg");
} */

.course h2 {

    position: absolute;
    bottom: 110px;
    left: 30px;
    right: 30px;
}

.course__card p {
    position:absolute;
    top:200px;
    left: 30px;
    right: 30px;
}

.course__card button {
    position: absolute;
    top: 240px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
} 

.course__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor:pointer
}

@media screen and (max-width:960px) {
    .course{
        height: 1600px;
    }

    .course h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px){
    .course{
        height: 1400px;
    }

    .course h1 {
        font-size: 1.2rem;
    }

    .course__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer {
    padding: 1rem 0;
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
    
}

.footer p {
    color: #fff;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ff8177;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.search {
   width: 50%;
   margin: auto;
   text-align: center;
}

.search__bar {
    background-image: url("../images/magnifying-glass.svg");  
    background-size: 5%; 
    background-repeat: no-repeat;
    background-position: 10px 10px; 
    padding: 20px 55px !important;
}

/* Login */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

.container a {
    color: #4837ff;
}

.account {
  float: right;
  padding-top: 10px;
  color: #4837ff;
}

.container.account a {
    color: #08bbc7;
    /* padding-top: 16px; */
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 80px;
  color: #fff;
}

/* Modal Content/Box */
.modal-content {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("../images/baby_plants.jpg");
  background-size: cover;
  margin: 15% auto 20% auto; /* 15% from the top, 20% from the bottom and centered */
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
