{{ define "Content" }}
<div class="course">
<!-- Search Bar -->
<h1>Search</h1>

<form method="post">
  <input list="searchCourses" placeholder="Search by course" name="searchCourse" id="searchCourse">
  <datalist id="searchCourses">
    {{range .Data.Courses}}
      <option value="{{.CourseName}} - {{.University}}"></option>
    {{end}}
  </datalist>
  <input type="submit"> 
</form>

  <!-- Courses Display -->

    <h1>{{.Data.Title}}</h1>
        <div class="course__container">
              {{range .Data.Courses}}
                  <div class="course__card">
                    <h2>{{.CourseName}}</h2>
                    <p>{{.University}}</p>
                    <button onclick="location.href='course/{{.Id}}'">Get Started</button>
                  </div>
               {{end}}
        </div>
</div>  
{{ end}}
