{{ define "Content" }}
<!-- Search Bar -->
<div class="search">
<h1>Search {{.Data.Title}}</h1>
<form method="post">
  <input type="text" class="search__bar" list="searchCourses" placeholder="Search {{.Data.Title}}" name="searchCourse" id="searchCourse">
  <datalist id="searchCourses">
    {{range .Data.Courses}}
      <option value="{{.CourseName}} - {{.University}}"></option>
    {{end}}
  </datalist>
</form>
</div>
<br>
<div class="course">
  <!-- Courses Display -->

<h1>{{.Data.Title}}</h1>
    <div class="course__container">
          {{range .Data.Courses}}
              <div class="course__card">
                <h2>{{.CourseName}}</h2>
                <p>{{.University}}</p>
                <button onclick="location.href='course/{{.Id}}'">Get Started</button>
              </div>
            {{end}}
    </div>
</div>  
{{ end}}
